// New variables
$header-background-color: #ececec;
$dark-blue: #6e78c1;
$light-blue: #4a71ab;
$black: #000000;
$red: #FF0005;
$grey: #afb0b0;
$dark-grey: #c5c6c6;
$darker-grey: #5B5B5B;
$light-grey: #d9d9d9;
$lightest-grey: #d9dada;
$blue: #283184;
$darker-blue: #1C2C45;
$red: #a72c29;
$pink: #f26159;

// variables overrides
$brand-primary : #273e61;
$navbar-inverse-bg: transparent;
$navbar-inverse-link-color: $black;
$navbar-inverse-link-active-color: $black;
$input-color: $pink;
$input-color-placeholder: $pink;
$breadcrumb-separator: '>';
$breadcrumb-bg: transparent;


$base-spacing-unit: 20px;
$half-spacing-unit: $base-spacing-unit/2;
