* {
  padding: 0;
  margin: 0;
}
.separator{
	clear: both;
}
a img{ border: 0; }
body {
	border: 0;
  font-size: 12px;
  font-family: "Verdana","Arial",sans-serif;
  text-align: center;
  color: black;
  background: black top left repeat-x;
}
h1, h2, h3, h4, h5 {font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif; color: #000;}
h1 { font-size: 125%; }
h2 { font-size: 130%; }
h3 { font-size: 115%; }
h4 { font-size: 100%; }

/* WRAPPER */
div#wrapper{
	width: 950px;
        height: 100%;
	margin: auto;
	margin-top: 50px;
	text-align: left;
	background: #FFF bottom right no-repeat;
min-height: 450px;
}

/* NAVIGATION */
#nav{
	width: 220px;
        height: 320px;
	float: left;
	margin-left: 4px;
	margin-top: 14px;
	font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif;
	font-size: 14px;
}
#nav ul{
	width: 220px;
        height: 320px;
	padding-top: 3px;
	list-style-type: none;
	background: blue;
}
#nav ul li{
	display: block;
}
#nav ul li#last_bullet a{
	border: 0;
}
#nav ul li a{
	display: block;
	height: 33px;
	line-height: 33px;
	vertical-align: middle;
	padding-left: 20px;
	width: 210px;
	color: #FFF;
	text-decoration: none;
	background: transparent;
	border-bottom: 1px solid #FFF;
	}
#nav ul li a.here{
	
}
#nav ul li a.here:hover{
	color: #FFF;
	font-weight: normal;
	
}
#nav ul li a:hover{
	color: #FFFFD5;
	font-weight: bold;
	
}

#colour{
	width: 170px;
	height: 68px;
	float: left;
	margin-left: 9px;
	margin-top: 140px;
	font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif;
	font-size: 14px;
}

#colour ul{
	width: 170px;
	height: 68px;
	padding-top: 3px;

	list-style-type: none;
	background: #404040 ;
  
}
#colour ul li{
	display: block;
}
#colour ul li#last_bullet a{
	border: 0;
}
#colour ul li a{
	display: block;
	height: 33px;
	line-height: 33px;
	vertical-align: middle;
	padding-left: 20px;
	width: 150px;
	color: #FFF;
	text-decoration: none;
	background: transparent;
	border-bottom: 1px solid #FFF;
	}
#colour ul li a.here{
	
}
#colour ul li a.here:hover{
	color: #FFF;
	font-weight: normal;
	
}
#colour ul li a:hover{
	color: #FFFFD5;
	font-weight: bold;
	
}


#no{
	width: 170px;
	height: 68px;
	float: left;
	margin-left: 9px;
	margin-top: 140px;
	font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif;
	font-size: 14px;
}

#no ul{
	width: 170px;
	height: 68px;
	padding-top: 3px;

	list-style-type: none;
	background: #980000;
  
}
#no ul li{
	display: block;
}
#no ul li#last_bullet a{
	border: 0;
}
#no ul li a{
	display: block;
	height: 33px;
	line-height: 33px;
	vertical-align: middle;
	padding-left: 20px;
	width: 150px;
	color: #FFF;
	text-decoration: none;
	background: transparent;
	border-bottom: 1px solid #FFF;
	}
#no ul li a.here{
	
}
#no ul li a.here:hover{
	color: #FFF;
	font-weight: normal;
	
}
#no ul li a:hover{
	color: #FFFFD5;
	font-weight: bold;
	
}

#no1{
	width: 170px;
	height: 68px;
	float: left;
	margin-left: 9px;
	margin-top: 10px;
	font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif;
	font-size: 14px;
}

#no1 ul{
	width: 170px;
	height: 68px;
	padding-top: 3px;

	list-style-type: none;
	background: black;
  
}
#no1 ul li{
	display: block;
}
#no1 ul li#last_bullet a{
	border: 0;
}
#no1 ul li a{
	display: block;
	height: 33px;
	line-height: 33px;
	vertical-align: middle;
	padding-left: 20px;
	width: 150px;
	color: #FFF;
	text-decoration: none;
	background: transparent;
	border-bottom: 1px solid #FFF;
	}
#no1 ul li a.here{
	
}
#no1 ul li a.here:hover{
	color: #FFF;
	font-weight: normal;
	
}
#no1 ul li a:hover{
	color: #FFFFD5;
	font-weight: bold;
	
}


#no2{
	width: 170px;
	height: 68px;
	float: left;
	margin-left: 9px;
	margin-top: 10px;
	font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif;
	font-size: 14px;
}

#no2 ul{
	width: 170px;
	height: 68px;
	padding-top: 3px;

	list-style-type: none;
	background: #FF0000;
  
}
#no2 ul li{
	display: block;
}
#no2 ul li#last_bullet a{
	border: 0;
}
#no2 ul li a{
	display: block;
	height: 33px;
	line-height: 33px;
	vertical-align: middle;
	padding-left: 20px;
	width: 150px;
	color: #FFF;
	text-decoration: none;
	background: transparent;
	border-bottom: 1px solid #FFF;
	}
#no2 ul li a.here{
	
}
#no2 ul li a.here:hover{
	color: #FFF;
	font-weight: normal;
	
}
#no2 ul li a:hover{
	color: #FFFFD5;
	font-weight: bold;
	
}
/* CONTENT */
div#content{
	margin-top: 10px;
	width: 690px;
	float: right;
        margin-right:2px;
	background-color: #CCCCFF;
	background: #CCCCFF 143px 143px no-repeat;
	border: 1px solid #C2C2CD;
	padding: 10px;
 }
div#content h2{
	color: #214D78;
	font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
}

div#content h1{
	margin-bottom: 2px;
      font-size: 14px;
}

div#content p{
	line-height: 1.6em;
	margin-bottom: 10px;
}
div#content p span{
	color: #3A669C;
	font-weight: bold;
}
div#content p img{
	width: 200px;
	height: 147px;
	border: 1px solid #888;
}
div#content p a{
	color: #045280;
	font-weight: bold;
}
div#content p a:hover{
	text-decoration: none;
}


/* CONTENT */
div#content1{
	margin-top: 20px;
	width: 688px;
	float: left;
        margin-right:30px;
        background-color: #CCCCFF;
	background: #CCCCFF 143px 143px no-repeat;
	border: 1px solid #C2C2CD;
	padding: 10px;
}
/* FOOTER */
div#footer{
	margin-top: 10px;
	color: #92A9C9;
	font-size: 9px;
	text-align: center;
}
div#footer a{
	padding-left: 10px;
}
div#footer p{
	clear: both;
	padding-top: 3px;
	padding-bottom: 5px;
}
div#footer p a{
	display: inline;
	float: none;
	color: #92A9C9;
	text-decoration: none;
}
div#footer p a:hover{
	text-decoration: underline;
}

.line { clear: both; padding-left: 12px; padding-right: 22px; padding-bottom: 10px; border-top: 1px solid black;}
.line1 { clear: both; padding-left: 12px; padding-right: 22px; padding-bottom: 10px; margin-top: 10px; border-top: 1px solid black;}

a:link, a:visited {
    color: #005f93;
    text-decoration: none;
}
a:hover, a.active {
    color: #005f93;
    text-decoration: underline;
}

div#bar-11{
	margin-top: 20px;
	margin-left: 12px;
	width: 690px;
	float: left;
	background-color: #EAEAEE;
	border: 1px solid #C2C2CD;
	padding: 10px;
}


#search, #contact {
    width: 150px;
}
form.contact .submit {
    background-color: grey;
    margin-top: 10px;
}

.search-content {
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 157px;
    height: 190px;
    padding: 10px;
}

form.search, form.contact {
    padding: 10px;
}

form.search select, form.search select.short {
    width: 150px;
    margin-bottom: 3px;
}

form.search select.short {
    width: 106px;
    height: 22px;
    margin-bottom: 0px;
}

form.sort {
    float: right;
}


form.sort select {
    margin-right: 10px;
    font-size: 13px;
    font-weight: bold;
    padding-top: 3px;
    line-height: 22px;
    height: 28px;
    margin-bottom: 0px;
    float: left;
}

form.sort .submit {
    margin-top:0;
    margin-left: 0;
    float: left;
    height: 28px;
    width: 40px;
}

form.search input.short {
    width: 99px;
    height: 16px;
    line-height:16px;
    margin-top: 3px;
    padding-left: 0px;
}

form.contact input.contact, form.contact textarea.contact {
    width: 150px;
    height: 16px;
    line-height:16px;
    margin-top: 3px;
    padding-left: 2px;
}

form.contact textarea.contact {
    height: 50px;
}

/* NAVIGATION */
#nav1{
	width: 170px;
	height: 290px;
	float: left;
	margin-left: 9px;
	margin-top: 14px;
	font-family: "Trebuchet MS", "Verdana", "Arial", sans-serif;
	font-size: 14px;
}
#nav1 ul{
	width: 170px;
	height: 290px;
	padding-top: 3px;
	list-style-type: none;
	background: transparent url(../img/nav_bg1.jpg) top left no-repeat;
}
#nav1 ul li{
	display: block;
}
#nav1 ul li#last_bullet a{
	border: 0;
}
#nav1 ul li a{
	display: block;
	height: 33px;
	line-height: 33px;
	vertical-align: middle;
	padding-left: 20px;
	width: 150px;
	color: #FFF;
	text-decoration: none;
	background: transparent;
	border-bottom: 1px solid #FFF;
	background: transparent url(../img/arrow1.gif) 140px 14px no-repeat;
}
#nav1 ul li a.here{
	background: transparent url(../img/arrow2.gif) 144px 11px no-repeat;
}
#nav1 ul li a.here:hover{
	color: #FFF;
	font-weight: normal;
	background: transparent url(../img/arrow2.gif) 144px 11px no-repeat;
}
#nav1 ul li a:hover{
	color: #FFFFD5;
	font-weight: bold;
	background: transparent url(../img/arrow3.gif) 140px 14px no-repeat;
}

.line1 {
    clear: both;
    width: 100%;
    padding: 0;
    padding-left: 12px;
    border-top: 1px solid black;
   margin-bottom:1px;
}