/* Overwriting container to disable responsive */
html{
  min-width: 970px;
}

.container{
  width: 970px !important;
  &-border-red {
    border-bottom: 5px solid $red;
  }

  &-border-grey {
    border-top: 5px solid $lightest-grey;
  }
}

.books{
  margin-top: 30px;
}

.tranparentBackground {
  background: rgb(110, 120, 193); /* The Fallback */
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 15px;
  padding:0px 14px 1px 15px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: $white;
}

.blue-background {
  background-color: $brand-primary;
}

.white-background {
  background-color: $white;
}

.gray-background {
  background-color: $grey;
}
.dark-gray-background {
  background-color: $dark-grey;
}

.lighter-gray-background {
  background-color: $header-background-color;
}

.lightest-gray-background {
  background-color: $lightest-grey;
}

.light-gray-background {
  background-color: $light-grey;
}

.biker-background {
  background-image: url('../img/background/biker_background.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  min-height: 580px;

}

.background-overlay {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
}

.text {

  &--grey {
    color: $grey
  }

  &--red {
    color: $red;
  }

  &--white {
    color: $white;
  }

  &--primary {
    color: $brand-primary;
  }

  &--darker-blue {
    color: $darker-blue;
  }

  &--norwester {
    font-family: norwester;
  }

}

.border {
  &--grey {
    border:1px solid $grey;
  }
}

.background-image {
  background-repeat: no-repeat;
  &.taxi {
    background-image:url("../img/taxi_flag.png");
    background-size: contain;
    height: 200px;
    background-position: right;
  }
}
