.books-section {
  position: relative;

  &__wrapper {
    position: absolute;
    width: 100%;
    top: -168px;
  }

  &__list {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    width: 117px;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.5);
  }

  &__container {
    background-color: $white;
    height: 190px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
    img {
      width: 100%;
    }

    &:hover {
      .books-section__list {
        color: $pink; 
      }
    }
  }

  h2 {
    font-size: 20px;
    padding-top: 10px;
    top: 10px;
    position: absolute;
  }

  &__header {
    font-size: 18px;
    position: absolute;
    right: 50px;
    bottom: 0px;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 10px;
    height: 50px;
  }

  &__description {
    font-size: 14px;
  }

  a:hover {
    text-decoration: none;
  }
}
