.btn {
  &-play {
    padding: 10px 30px;
    color: $white;
    background-color: $pink;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 30px;
    margin: 65px;
  }
}