.item {
  background-image: url('../img/cab.jpg');
  height: 450px;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-top: 5px solid $white;
  background-size: cover;
  &.second{
    background-image: url('../img/fairway.jpg');
  }
  &.third{
    background-image: url('../img/Hail.jpg');
  }
  &.four{
    background-image: url('../img/knowledgeboy.jpg');
  }
  &.five{
    background-image: url('../img/moped.jpg');
  }
  &.six{
    background-image: url('../img/moped1.jpg');
  }
  &.seven{
    background-image: url('../img/moped2.jpg');
  }
  &.eight{
    background-image: url('../img/pinktaxi.jpg');
  }
  &.nine{
    background-image: url('../img/towerb.JPG');
  }
  &.ten{
    background-image: url('../img/towerb.JPG');
  }

  &-header {
    color: $brand-primary;
    font-size: 32px;
    padding-bottom: 15px;
    padding-top: 30px;
  }

  .intro {
    margin-left: auto;
    margin-right: auto;
    width: 715px;

    video {
      width: 100%;
    }
  }

}

.carousel-indicators {
  display: none;
}