.header{
  position: relative;
  .login{
    position: absolute;
    right: 10px;
    bottom: 7px;
    z-index: 3;
    ul{
      padding: 0px;
      margin: 0px;
      li{
        float: left;
        list-style: none;
        color:black;
        a {
          color: $pink;
          font-size: 16px;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
    &-details {
      position: absolute;
      right: 10px;
      top:7px;
    }
  }

  .social{
    &-icons{
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }
}
