.list {
  padding-left: 15px;
  &--no-style {
    list-style-type: none;
  }

  li {
    padding-bottom: 5px;
    a {
      font-size: 15px;
      text-decoration: none;
      color: $darker-grey;
      &.is-active,
      &:hover{
        color: $red;
      }
    }
  }
  &-tab {
    li a {
      height: 107px;
      padding: 40px 0;
      color: $grey;
      &:hover {
        background-color: $grey;
        color: $white;
        text-decoration: none;
      }
      &.active {
        background-color: $pink;
        color: $white;
      }
    }
  }
}
