.navbar-header {
  float: left;
  &:after{
    display: inline;
  }
}

.navbar-nav > li > a {
  padding: 10px 10px 0 10px;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 18px;
  &:hover, &.active {
    color: $pink;
  }
}

.navbar-nav > li {
  float: left;
}

.navbar-nav {
  margin: 0px;
}

.nav>li>a {
  margin-right: 0;
  margin-left: 10px;
}

.nav > li {
  &.position-inherit {
    position: inherit;
  }
}

.dropdown-menu {
  width: 100%;
  &.no-border {
    border: 0;
    box-shadow: none;
  }
}

.navbar-nav {
  margin: auto;
  width: 375px;
  float: none;
}

.navbar {
  margin-top:-42px;
  &-wrapper {
    border-bottom: 6px solid $light-blue;

    &--no-border {
      border:0;
    }
  }
}

.nav {
  a {
  &:hover {
    .caret {
        border-top-color: $white;
        border-bottom-color: $white;
      }
    }
    .caret {
      border-top-color: $white;
      border-bottom-color: $white;
    }
  }
}
