@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'norwester';
  src: url('../fonts/norwester.eot');
  src: url('../fonts/norwester.eot?#iefix') format('embedded-opentype'),
  url('../fonts/norwester.woff') format('woff'),
  url('../fonts/norwester.ttf') format('truetype'),
  url('../fonts/norwester.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

body{
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}
h2, h3, h4, h5, h6, .top-bar-section ul li{
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  text-transform:uppercase;
}

h1 {
  font-family: norwester;
  text-transform:uppercase;
}

p{
  line-height:1.4;
  font-size: 16px;
}

.link{
  &-black{
    color: $black;
  }
}
